@model vidly.ViewModel.NewCustomerViewModel

@{
    ViewBag.Title = "newCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>New Customer</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.name)
        @Html.TextBoxFor(m => m.Customer.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipTypeId)
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeId, new SelectList(Model.MemberShipType, "Id", "name"), "Select MemberShipType", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MemberShipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.birthdayDate)
        @Html.TextBoxFor(m => m.Customer.birthdayDate , new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.birthdayDate)

    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribe to new Letter?
        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
